:root {
	--gradient-dir1: 45deg;
	--gradient-dir2: 90deg;
	--gradient-dir3: -45deg;
}

.monaco-workbench .part.titlebar {
	background-color: #3c4652;
	background-image: linear-gradient(315deg, #222433 74%, #30323d 0%);
}

.monaco-workbench
	.activitybar
	> .content:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #d66efd, #fc6c8f, #ff2ced);
}

.monaco-breadcrumbs {
	background-color: #14122c;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container {
	/* background-color: #000000;
    background-image: linear-gradient(315deg, #100e22 0%, #414141 74%); */
	background-color: #14122c;
}

.monaco-workbench .activitybar > .content {
	background-color: #1e2030;
	/* background-image: linear-gradient(315deg, #212333   0%, #333333 74%); */
	/* #15172c */
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.editor-actions {
	background-color: #13112b;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	background-size: 400% 400%;
	background-image: linear-gradient(
		-45deg,
		#fc6c8f,
		#ff2ced,
		#ffb86c,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#c850c0,
		#4158d0
	);
	animation: gradient 4s ease alternate infinite;
	height: 3px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.monaco-workbench
	.activitybar
	> .content:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(
		var(--gradient-dir2),
		#fc6c8f,
		#ff2ced,
		#ffb86c,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#c850c0
	);
}

.monaco-editor .cursors-layer .cursor {
	background-image: linear-gradient(to bottom, #d66efd, #fc6c8f, #ff2ced);
}

.mtk15 {
	color: transparent;
	background-image: linear-gradient(to left top, #fe507c, #fc29b2);
	/* #ffb86c  #c850c0  #9a86fd #e237b7 #ff2ced #ff1daf  #da46d0*/
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	letter-spacing: normal;
	font-size: 109%;
	font-weight: 600;
}

/* .mtk28 {
	color: transparent;
	background-image: linear-gradient(to left bottom, #f55e84, #ff2ced);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-family: 'Convergence';
	font-size: 107%;
	letter-spacing: 0.11ch;
	font-weight: 600; _SemiCondensed
} */

.mtk16 {
	color: transparent;
	background-image: linear-gradient(to right top, #128ffc, #2cccff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-family: 'JetBrains Mono', monospace;
	font-size: 109%;
	font-weight: 600;
	letter-spacing: 0.09ch;
}

.mtk1 {
	color: #e7eaf7;
}

.mtk3 {
	color: transparent;
	background-image: linear-gradient(to left bottom ,  #c299ff, #ad45f6);  
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 106%;
	font-weight: 600;
}

/* .mtk18 {
	color: transparent;
	background-image: linear-gradient(to right top, #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 102%;
	font-weight: 650;
} */

.mtk4 {
	font-family: 'JetBrains Mono', monospace;
	font-size: 108%;
	font-weight: 500;
	letter-spacing: 0.09ch;
}

.mtk14 {
	font-family: 'JetBrains Mono', monospace;
	font-size: 104%;
	font-weight: 500;
	letter-spacing: 0.09ch;
}

.mtk5,
.mtk6,
.mtk29 {
	font-family: 'FiraCode';
	font-size: 118%;
	font-weight: 500;
	letter-spacing: 0.17ch;
	font-style: italic;
}
